/* CORE - GLOBAL PROPERTIES */
* {
  color: rgb(255, 255, 255);
}
body {
  background-color: rgb(15, 15, 15);
}




/* CORE - TEXT PROPERTIES */
.title {
  text-shadow: 8px 8px 4px rgba(0, 0, 0, 1);
}
.subtitle {
  color: rgb(120, 120, 120);
  text-shadow: 6px 6px 3px rgba(0, 0, 0, 1);
}
h1 {
  text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}
h2 {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}
.li-h3 {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
}




/* CORE - NAVIGATION PROPERTIES */
.nav-left li a, .nav-right li a {
  color: rgb(255, 255, 255);
}
.nav ul {
  box-shadow: 5px 5px rgb(5, 5, 5);
  background-color: rgb(50, 50, 50);
}
.nav-left li a {
  color: rgb(175, 175, 175);
  border-right: 2px solid rgb(128, 128, 128);
}
.nav-left li a:hover {
  color: rgb(255, 255, 255);
  border-right: 2px solid rgb(128, 128, 128);
}
.nav-right li a {
  color: rgb(175, 175, 175);
  border-left: 2px solid rgb(128, 128, 128);
}
.nav-right li a:hover {
  color: rgb(255, 255, 255);
}
.nav-left .nav-active a {
  color: rgb(255, 255, 255);
}
.title-helper-p {
   color: rgb(100, 100, 100);
}




/* CORE - MESSAGE BOX PROPERTIES */
.message-box {
  box-shadow: 5px 5px rgb(5, 5, 5);
}

/* CORE - ELEMENTS BOX */
.tube-helper-element-box {
  border: 2px solid rgb(64, 64, 64);
  box-shadow: 5px 5px rgb(5, 5, 5);
  background-color: rgb(32, 32, 32);
}
.tube-helper-subtext {
  color: rgb(170, 170, 170);
}

/* VIDEO PLAYER - SIDEBAR - ELEMENT ITEM PROPERTIES */
.sidebar-item {
  border: 2px solid rgb(64, 64, 64);
  box-shadow: 5px 5px rgb(5, 5, 5);
  background-color: rgb(32, 32, 32);
}

/* VIDEO PLAYER - SIDEBAR - THUMBNAIL OVERLAY PROPERTIES */
.sidebar-thumbnail-overlay div div {
  background-color: rgba(0, 0, 0, 0.8);
}
.sidebar-thumbnail-overlay div div p {
  color: rgb(255, 255, 255);
}

/* VIDEO PLAYER - SIDEBAR - DETAILS - TITLE PROPERTIES */
.sidebar-details-title {
  color: rgb(241, 241, 241);
}
.sidebar-details-title p {
  color: rgb(241, 241, 241);
}

/* VIDEO PLAYER - SIDEBAR - DETAILS - CHANNEL NAME PROPERTIES */
.sidebar-details-channel div div div p {
  color: rgb(170, 170, 170);
}

/* VIDEO PLAYER - SIDEBAR - DETAILS - METADATA PROPERTIES */
.sidebar-details-stats p {
  color: rgb(170, 170, 170);
}




/* CHANNELS - CHANNEL VIDEOS - ELEMENT ITEM PROPERTIES */
.channel-videos-item {
  border: 2px solid rgb(64, 64, 64);
  box-shadow: 5px 5px rgb(5, 5, 5);
  background-color: rgb(32, 32, 32);
}

/* CHANNELS - CHANNEL VIDEOS - THUMBNAIL OVERLAY PROPERTIES */
.channel-videos-thumbnail-overlay div div {
  background-color: rgba(0, 0, 0, 0.8);
}
.channel-videos-thumbnail-overlay div div p {
  color: rgb(255, 255, 255);
}

/* CHANNELS - CHANNEL VIDEOS - DETAILS - TITLE PROPERTIES */
.channel-videos-details-title {
  color: rgb(241, 241, 241);
}
.channel-videos-details-title p {
  color: rgb(241, 241, 241);
}

/* CHANNELS - CHANNEL VIDEOS - DETAILS - METADATA PROPERTIES */
.channel-videos-details-meta div div p {
  color: rgb(170, 170, 170);
}






/* CHANNELS - CHANNEL VIDEOS - ELEMENT ITEM PROPERTIES */


/* CHANNELS - CHANNEL VIDEOS - THUMBNAIL OVERLAY PROPERTIES */

.channel-for-you-thumbnail-overlay div div p {
  color: rgb(255, 255, 255);
}

/* CHANNELS - CHANNEL VIDEOS - DETAILS - TITLE PROPERTIES */
.channel-for-you-details-title {
  color: rgb(241, 241, 241);
}
.channel-for-you-details-title p {
  color: rgb(241, 241, 241);
}

/* CHANNELS - CHANNEL VIDEOS - DETAILS - METADATA PROPERTIES */
.channel-for-you-details-meta div div p {
  color: rgb(170, 170, 170);
}






/* CHANNELS - CHANNEL FEATURED - ELEMENT ITEM PROPERTIES */
.channel-featured-item {
  border: 2px solid rgb(64, 64, 64);
  box-shadow: 5px 5px rgb(5, 5, 5);
  background-color: rgb(32, 32, 32);
}

/* CHANNELS - CHANNEL FEATURED - THUMBNAIL OVERLAY PROPERTIES */
.channel-featured-thumbnail-overlay div div {
  background-color: rgba(0, 0, 0, 0.8);
}
.channel-featured-thumbnail-overlay div div p {
  color: rgb(255, 255, 255);
}

/* CHANNELS - CHANNEL FEATURED - DETAILS - TITLE PROPERTIES */
.channel-featured-details-title {
  color: rgb(241, 241, 241);
}
.channel-featured-details-title p {
  color: rgb(241, 241, 241);
}

/* CHANNELS - CHANNEL FEATURED - DETAILS - METADATA PROPERTIES */
.channel-featured-details-meta div div p {
  color: rgb(170, 170, 170);
}